<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/c6aa1fdc-66a8-446e-8b37-7794cd545e44/resourceGroups/LVEnvWestUSRG/providers/Microsoft.Web/sites/lvhademo-webapp-westus</ResourceId>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://lvhademo-webapp-westus.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>542ece2e-05f2-45f6-ac07-f48bccf16a1f</ProjectGuid>
    <PublishUrl>https://lvhademo-webapp-westus.scm.azurewebsites.net/</PublishUrl>
    <UserName>$lvhademo-webapp-westus</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>